[submodule "lib/fzf"]
	path = lib/fzf
	url = https://github.com/junegunn/fzf.git

[submodule "paczki"]
        path = paczki
        url = https://github.com/junegunn/fzf.git

[submodule "lib/forgit"]
	path = lib/forgit
	url = https://github.com/wfxr/forgit.git
